services:
  bot:
    build:
      context: ../app
      dockerfile: ../.docker/Dockerfile
      target: ${DOCKER_TARGET:-dev} # Для dev-режима используем отдельный build target
    container_name: flylex-bot
    restart: unless-stopped
    env_file:
      - .env # В dev-режиме удобно использовать .env
    depends_on:
      - db
    volumes:
      - ../app:/app # Для hot reload и локальной разработки
    command: ["go", "run", "run.go"]

  db:
    image: postgres:15-alpine
    container_name: flylex-db
    restart: unless-stopped
    env_file:
      - .env # Переменные для базы также через .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5445:5432"
    volumes:
      - ../pgdata:/var/lib/postgresql/data

#volumes:
#  pgdata: